{% extends 'baseHomeUser.html.twig' %}

{% block title %}Tienda{% endblock %}

{% block body %}
    <br>
    <h3>Lista del carrito</h3>
    {% if app.session.get('pedidos')  is not empty %}
       <table class="table table-light table table-striped">
        <tbody>
            <tr>
                <th width="25%">Descripción</th>
                <th width="10%" class="text-center">Talla</th>
                <th width="10%" class="text-center">Color</th>
                <th width="15%" class="text-center">Cantidad</th>
                <th width="20%" class="text-center">Precio Unidad</th>
                <th width="20%" class="text-center">Total</th>
            </tr>
            {% set total = 0 %}
            {% set totalProductos = 0 %}
            {% set totalEnvio = 5 %}
            {% set totalPagar = 0 %}
            {%  for article in app.session.get('pedidos') %}
                <tr>
                <td width="25%">{{article.name}}</td>
                <td width="10%" class="text-center">{{article.desc_tallas}}</td>
                <td width="10%" class="text-center">{{article.desc_color}}</td>
                <td width="15%" class="text-center">{{ article.cantidad_pedido }}</td>
                <td width="20%" class="text-center">${{ article.precio | number_format(2)}}</td>
                <td width="20%" class="text-center">${{ (article.precio * article.cantidad_pedido) | number_format(2)}}</td>
                </tr>
                {% set totalProductos = totalProductos + 1 %}
                {% set total = total + (article.precio*article.cantidad_pedido) %}
                {% set totalPagar = total + totalEnvio %}
            {% endfor %}  
            {% if total > 50 %}
                {% set totalEnvio = 0 %}
            {% endif %} 
            <tr>

                <td colspan="1"  align="right"><h3>Total Productos</h3> </td>
                <td align="center"><h3>{{ totalProductos}}</h3></td>
                <td colspan="3"  align="right"><h3>Total</h3> </td>                
                <td align="center"><h3>{{ total |number_format(2)}}$</h3></td>
            </tr>
            <tr>
                <td colspan="5"  align="right"><h3>Total Envio</h2> </td>
                <td align="center"><h3>{{ totalEnvio |number_format(2)}}$</h3></td>
            </tr>
            <tr>
                <td colspan="5"  align="right"><h2>Total Pagar</h2> </td>
                <td align="center"><h2>{{ totalPagar |number_format(2)}}$</h3></td>
            </tr>
        </tbody>
    </table>
    {% else %}
        <div class="alert alert-success">
                No hay productos en el carrito...
        </div>
    {% endif %}

{% endblock %}